body {
  border: #bdc3c7 15px solid;
  width: 66%;
  margin: auto;
  margin-top: 20px;
  font-family: 'Source Sans Pro', sans-serif;

}


.date {
  color: #3498db;
  text-transform: uppercase;
}

.blog {
  padding-left: 20px;
  padding-right: 20px;
}

p:nth-of-type(2) {
  border-left: solid gray 3px;
  padding-left: 10px;
}

p:nth-of-type(4) {
  border-bottom: solid gray 1px;
  padding-bottom: 15px;
}

h2 {
  color: #2c3e50;
}
