td {
  width: 100px;
  height: 100px;

}

.vertical{
  border-left: black 2px solid;
  border-right: black 2px solid;
}
.horizontal {
  border-top: black 2px solid;
  border-bottom: black 2px solid;
}

.square {
  border: black 2px solid;
}

table {
  margin: auto;
}

h1 {
  text-align: center;
}
